<template>
  <v-container>
    <span id="error" class="red--text">{{ error }}</span>
    <v-layout row wrap>
      <v-flex xs6 sm6>
        <h2>Source image</h2>
        <picture-input
          ref="sourceInput"
          width="500"
          height="281"
          accept="image/jpeg,image/png"
          size="10"
          buttonClass="v-btn primary"
          @change="onSourceChange"
        />
      </v-flex>
      <v-flex xs6 sm6>
        <h2>Target image</h2>
        <picture-input
          ref="targetInput"
          width="500"
          height="281"
          accept="image/jpeg,image/png"
          size="10"
          buttonClass="v-btn primary"
          @change="onTargetChange"
        />
      </v-flex>
      <v-divider />
      <v-flex xs12>
        <v-btn color="primary" @click="detectImage()" v-if="!loading">Detect</v-btn>
        <v-progress-circular
          indeterminate
          color="primary"
          v-if="loading"
        >
        </v-progress-circular>
        <v-snackbar
          v-model="showMessage"
          :color="alertType"
          top
        >
          {{ resultMessage }}
          <v-btn
            dark
            flat
            @click="showMessage = false"
          >
            close
          </v-btn>
        </v-snackbar>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PictureInput from 'vue-picture-input'; // eslint-disable-line
import * as uploadService from '../services/uploadService';

export default {
  name: 'image-compare',
  components: {
    PictureInput,
  },

  data() {
    return {
      sourceImage: null,
      targetImage: null,
      result: null,
      error: '',
      showMessage: false,
      loading: false,
    };
  },

  computed: {
    resultMessage() {
      if (this.result === true) {
        return 'Target image contains the source image.';
      }

      if (this.result === false) {
        return 'Target image doesn\'t contain the source image.';
      }

      return '';
    },
    alertType() {
      if (this.result) {
        return 'success';
      }

      return 'error';
    },
  },

  methods: {
    onSourceChange() {
      this.sourceImage = this.$refs.sourceInput.file;
    },
    onTargetChange() {
      this.targetImage = this.$refs.targetInput.file;
    },
    async detectImage() {
      this.error = '';

      if (!this.sourceImage || !this.targetImage) {
        this.error = 'Please select both source & target image!';
        return;
      }

      this.loading = true;

      const formData = new FormData();
      formData.append('sourceImage', this.sourceImage);
      formData.append('targetImage', this.targetImage);

      try {
        const response = await uploadService.uploadImage(formData);
        this.result = response.result;
        this.showMessage = true;
        this.loading = false;
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped>
#error {
  font-size: 2em;
}
</style>
