<template>
  <v-container>
    <span id="error" class="red--text">{{ error }}</span>
        <v-layout row wrap>
      <v-flex xs6 sm6>
        <h2>Source image</h2>
        <picture-input
          ref="sourceInput"
          width="500"
          height="281"
          accept="image/jpeg,image/png"
          size="10"
          buttonClass="v-btn primary"
          :crop="false"
          :autoToggleAspectRatio="true"
          @change="onSourceChange"
        />
      </v-flex>
      <v-flex xs6 sm6>
        <h2>Target video</h2>
        <iframe
          ref="youtubeIframe"
          width="500" height="281"
          :src="youtubeEmbedUrl"
          frameborder="0"
        ></iframe>

        <v-flex xs10 offset-xs1>
          <v-text-field
            id="videoInput"
            label="YouTube video url or id"
            outline
            @input="parse"
          ></v-text-field>
        </v-flex>

        <v-flex xs10 offset-xs1>
          <v-slider
            v-model="frequency"
            always-dirty
            min="3"
            max="60"
            thumb-label="always"
            label="Frequency (in secs):"
            hint="How more frequent (lower secs), the longer it will take to process."
            persistent-hint
          ></v-slider>
        </v-flex>

        <v-flex xs10 offset-xs1>
          <v-checkbox
            label="End with snapshot (TODO)"
            v-model="endWithSnapshot"
          ></v-checkbox>
        </v-flex>

      </v-flex>
      <v-divider />
      <v-flex xs12>
        <v-btn color="primary" @click="detectImage()" v-if="!loading">Detect</v-btn>
        <v-progress-circular
          indeterminate
          color="primary"
          v-if="loading"
        >
        </v-progress-circular>
        <v-snackbar
          v-model="showMessage"
          :color="alertType"
          top
        >
          {{ resultMessage }}
          <v-btn
            dark
            flat
            @click="showMessage = false"
          >
            close
          </v-btn>
        </v-snackbar>
      </v-flex>
      <v-divider />
      <v-flex xs10 offset-xs1>
        <v-list subheader v-if="results && results.length > 0">
          <v-subheader>Results (took {{ timeSpent.toFixed(2) }} ms)</v-subheader>
          <v-list-tile
            v-for="result in results"
            :key="result.timestamp"
            avatar
          >
            <v-list-tile-avatar color="green" v-if="result.containsSource">
              <v-icon>check</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-avatar color="red" v-if="!result.containsSource">
              <v-icon>not_interested</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{ result.timestamp }}</v-list-tile-title>
            </v-list-tile-content>

          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PictureInput from 'vue-picture-input'; // eslint-disable-line
import * as util from '../util/util';
import * as uploadService from '../services/uploadService';

export default {
  name: 'video-compare',
  components: {
    PictureInput,
  },

  data() {
    return {
      results: [],
      error: '',
      showMessage: false,
      loading: false,

      sourceImage: null,
      videoId: '',
      frequency: 30,
      endWithSnapshot: false,
      timeSpent: 0
    };
  },

  computed: {
    resultMessage() {
      this.results.forEach(r => {
        if (r.containsSource) {
          return 'Target video contains the source image at least once.';
        }
      });

      if (!this.results || this.results.length === 0) {
        return '';
      }

      return 'Target video doesn\'t contain the source image';
    },
    alertType() {
      this.results.forEach(r => {
        if (r.containsSource) {
          return 'success';
        }
      });

      return 'error';
    },
    youtubeEmbedUrl() {
      return `https://www.youtube.com/embed/${this.videoId}`;
    },
  },

  methods: {
    onSourceChange() {
      this.sourceImage = this.$refs.sourceInput.file;
    },
    parse(val) {
      this.videoId = util.parseUrl(val);
    },
    async detectImage() {
      this.error = '';
      this.results = [];

      if (!this.sourceImage) {
        this.error = 'Please select a source image!';
        return;
      }

      if (!this.videoId || this.videoId.length !== 11) {
        this.error = 'Please enter a video with a valid video ID';
        return;
      }

      this.loading = true;
      const start = performance.now();

      const formData = new FormData();
      formData.append('sourceImage', this.sourceImage);
      formData.append('videoId', this.videoId);
      formData.append('frequency', this.frequency);

      try {
        const response = await uploadService.uploadVideo(formData);
        this.results = response.result;
        this.showMessage = true;
        this.loading = false;
        this.timeSpent = performance.now() - start;
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped>
</style>
