<template>
  <v-app dark>
    <v-tabs fixed-tabs>
      <v-tab to="/imagedetector">
        Image Detector
      </v-tab>
      <v-tab to="/videodetector">
        Video detector
      </v-tab>
    </v-tabs>

    <router-view />
  </v-app>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
    };
  },
};
</script>

<style>
html,
body {
  height: 100%;
  text-align: center;
}
</style>
